search --set=root --file /AIRSHIP

insmod all_video

set default="0"
set timeout=1

menuentry "Airship Ephemeral" {
    linux /boot/vmlinuz boot=live quiet nomodeset overlay-size=70% systemd.unified_cgroup_hierarchy=0 ds=ConfigDrive
    initrd /boot/initrd.img
}
