*build/
bootstrap_capg/.vscode/launch.json
bootstrap_capg/go.mod
bootstrap_capz/.vscode/launch.json
bootstrap_capz/go.mod
bootstrap_capz/go.sum
bootstrap_capo/capo-ephemeral

# image-builder artifacts to ignore
**.iso
**.qcow2
**.md5sum
image-builder/assets/playbooks/roles/multistrap/vars/main.yaml
image-builder/assets/playbooks/roles/livecdcontent/vars/main.yaml
image-builder/assets/playbooks/roles/osconfig/vars/main.yaml
